# Use sistema CA (resolve problema TLS no Windows com antivirus)
use-system-ca=true

# Auto-instala peer dependencies (evita warnings)
auto-install-peers=true

# Strict peer deps
strict-peer-dependencies=false
